@font-face {
    font-family: 'alexa' ;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
  --groen: #031f00;
  --wit: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: red solid 1px; */
}

body {
    background-color: var(--groen);
    font-family: alexa, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.blob{
  position: relative;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vw;
  border-radius: 6898698689896px;
  background: url(../images/blob.png);
  -webkit-filter: blur(20vw);
  filter: blur(20vw);
  margin: -25vw;
  z-index: 99901;
  
}

header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--wit);
}

ul {
  position: relative;
    list-style-type: none;
    margin: 0;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #90d39400;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0;
  }
  
  li {
    display: flex;
    justify-content: space-around;
    padding: 0px 1vw;
    
  }
    
  li a {
    display: block;
    color: var(--wit);
    text-align: center;
    padding: 1vw 1.5vw;
    text-decoration: none;
    transition: all cubic-bezier(0.86, 0.41, 0, 1) 0.3s;
    border-radius: 5px;
  }
  
  li a:hover {
    display: block;
    color: #40ff56;
    padding: 1vw 1.5vw;
    text-decoration: none;
    background-color: #396143;
    border-radius: 30px;
  }

  .image{

    display: flex;
    justify-content: center;
  }

  nav{
    position: sticky;
    top: 0;
    background-color: var(--groen);
  }

  h1{
    color: var(--wit);
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin-top: 50px;
  }

  h2{
    font-size: 10vw;
  }

  p{
    color: var(--wit);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
  }

  footer {
    width: 100%;
    margin:auto;
    text-align: center;
    margin-top: 10px;
    bottom: 0;
    background-color: #33333300;
    color: var(--wit);
  }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
